# top-most EditorConfig file
root = true

# Standard Ruby settings
[*.{rb,rake,gemspec}]
indent_style = space
indent_size = 2
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
end_of_line = lf
ij_ruby_spaces_within_braces = false
ij_ruby_spaces_within_array_initializer_braces = true
ij_ruby_spaces_around_assignment_operators = true

# Optional: Gemfile and other config files
[Gemfile]
indent_style = space
indent_size = 2
