@use './mixins';

.header-img {
  @include mixins.frosted-bg("/backgrounds/heroes/burnwall_day.webp", "/backgrounds/heroes/burnwall_night.webp", 1px, 0.8, 0.65);

  &::before {
    background-position: top center;
    background-repeat: no-repeat;

    [data-chroma-theme="limsa"] & {
      background-position: center center;
      background-color: rgba(0, 0, 0, 0.4);
      background-image: url("/backgrounds/heroes/limsa_candlekeep.webp");
    }

    [data-chroma-theme="gridania"] & {
      background-position: center center;
      background-color: rgba(0, 0, 0, 0.4);
      background-image: url("/backgrounds/heroes/gridania_buscarrons.webp");
    }

    [data-chroma-theme="eulmore"] & {
      background-position: center center;
      background-color: rgba(255, 255, 255, 0.8);
      background-image: url("/backgrounds/heroes/eulmore_bar.webp");
    }
  }
}
