@forward './theming/mixins';
@use './theming/mixins' as theming;

@mixin variant-gradient($variant, $important: false) {
  background-image: linear-gradient(
          var(--gradient-angle),
          var(--bs-#{$variant}),
          color-mix(in srgb, var(--bs-#{$variant}) 70%, white)
  );

  @include theming.theme-polarity(dark) {
    background-image: linear-gradient(
            var(--gradient-angle),
            var(--bs-#{$variant}),
            var(--bs-#{$variant}-border-subtle)
    );
  }
}

// reusable helper for a frosted background. set default image-url-light/image-url-dark based on polarity with
// some precalculated-ish alpha.
@mixin frosted-bg($blur: 2px) {
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -10;
    background-size: cover  ;
    background-position: center;
    filter: blur($blur);
  }
}
