.table-transparent {
  --bs-table-bg: transparent !important;
}

.table {
  > :not(caption) > * > * {
    transition: box-shadow 0.1s ease-in-out;
  }

  > td.col-shrink, th.col-shrink {
    width: 1%;
    white-space: nowrap;
  }
}