<%= form_with(url: other_sessions_user_path, method: :delete) do |f| %>
  <%= f.hidden_field :confirmed, value: "1" %>
  <div class="modal-header">
    <h5 class="modal-title">Sign Out Other Devices</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <% if other_session_count > 0 %>
      <p>
        Continuing will sign you out of <%= pluralize(other_session_count, 'other active session') %> and disable
        Remember Me for all browsers or devices except this one. Authorized applications will not be affected by this
        action.
      </p>
      <p>Are you sure?</p>
    <% else %>
      <p>You have no other active browsers or devices to sign out of.</p>
    <% end %>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
    <%= f.submit "Sign Out Other Devices", class: "btn btn-warning", disabled: other_session_count == 0 %>
  </div>
<% end %>

