@use './engine' as t;

// Conditional to allow us to apply if the browser is in a certain "polarity" (light or dark mode).
@mixin theme-polarity($polarity) {
  // If in auto, only apply if the system polarity matches what we're asking for.
  // Note here - the only valid media query is "dark" (or none). This maps to umbral in CHROMA's _root, but we'll still
  // pretend we manage things here.
  @if $polarity == 'light' or $polarity == 'dark' {
    @media (prefers-color-scheme: #{$polarity}) {
      @at-root :root[data-chroma-theme="auto"] & {
        @content;
      }
    }
  }

  // And load in for themes
  @each $name, $pol in t.$theme-polarities {
    @if $pol == $polarity {
      @at-root [data-chroma-theme="#{$name}"] & {
        @content;
      }
    }
  }
}

// Invert bg <-> fg colors for light themes if we want to force a "fake" dark mode.
// Used for things like navbars et al.
@mixin invert-theme {
  @include theme-polarity(light) {
    --bs-body-bg:        var(--chroma-body-color);
    --bs-body-bg-rgb:    var(--chroma-body-color-rgb);
    --bs-body-color:     var(--chroma-body-bg);
    --bs-body-color-rgb: var(--chroma-body-bg-rgb);
    --bs-emphasis-color:  var(--chroma-body-bg);
    --bs-secondary-color: rgba(var(--chroma-body-bg-rgb), 0.75);
    --bs-heading-color:   var(--chroma-body-bg);
    --bs-secondary-bg: oklch(from var(--chroma-body-color) calc(l + 0.05) c h);
    --bs-tertiary-bg:  oklch(from var(--chroma-body-color) calc(l + 0.03) c h);
    --bs-border-color: oklch(from var(--chroma-body-color) calc(l + 0.25) c h);
  }
}