@use "../xivauth/mixins";

.error-backdrop {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: -10;
  top: 0;
  left: 0;

  background-image: url("/backgrounds/cmists_day.webp");

  @include mixins.theme-polarity(dark) {
    background-image: url("/backgrounds/cmists_night.webp");
  }
}