.error-backdrop {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: -10;
  top: 0;
  left: 0;

  [data-bs-theme="dark"] & {
    background-image: url("/backgrounds/cmists_night.webp");
  }

  [data-bs-theme="light"] & {
    background-image: url("/backgrounds/cmists_day.webp");
  }
}