@use "../xivauth/mixins";

.login-backdrop {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: sticky;
  top: 0;
  z-index: -10;

  background-image: url("/backgrounds/limsa_day.webp");

  @include mixins.theme-polarity(dark) {
    background-image: url("/backgrounds/limsa_night.webp");
  }

  [data-chroma-theme="eulmore"] & {
    background-image: url("/backgrounds/eulmore_aetheryte.webp");
  }

  [data-chroma-theme="ishgard"] & {
    background-image: url("/backgrounds/ishgard_church.webp");
  }

  [data-chroma-theme="gridania"] & {
    background-image: url("/backgrounds/gridania_city.webp");
    background-position: center right;
  }
}
