@use "../xivauth/mixins";

.oauth-consent-backdrop {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("/backgrounds/oauth/s9_commerce.webp");

  [data-chroma-theme="eulmore"] & {
    background-image: url("/backgrounds/oauth/eulmore_aetheryte.webp");
  }

  [data-chroma-theme="ishgard"] & {
    background-image: url("/backgrounds/oauth/ishgard_church.webp");
  }

  [data-chroma-theme="limsa"] & {
    background-image: url("/backgrounds/oauth/costa_night.webp");
  }

  [data-chroma-theme="gridania"] & {
    background-image: url("/backgrounds/oauth/gridania_city.webp");
  }

  [data-chroma-theme="thanalan"] & {
    background-image: url("/backgrounds/oauth/vesper_square.webp");
  }

  [data-chroma-theme="thirteenth"] & {
    background-image: url("/backgrounds/oauth/void_dungeon.webp");
  }
}

.frost-background-filter {
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  transition: background 0.3s, border 0.3s;

  background-color: var(--bs-card-bg);
  box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.08);

  @include mixins.theme-polarity(dark) {
    background: rgba(30, 30, 30, 0.80);
    box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.18);
  }
}