<%= render 'layouts/components/remote_modal_raw', title: 'Compromised Password Detected', modal_id: "compromised_password_modal" do %>
  <div class="modal-header">
    <h5 class="modal-title">Compromised Password Detected</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <p>
      The password you are using for XIVAuth has been found in one or more historical data breaches, as reported by
      <a href="https://haveibeenpwned.com/" target="_blank" rel="noopener noreferrer">Have I Been Pwned</a>. This means
      that this password is no longer secure and should no longer be used on any website.
    </p>
    <p>
      Since you are enrolled in multifactor authentication, your XIVAuth account remains secure. Please update your
      password by going to <%= link_to 'your user settings page', edit_user_path %> as soon as possible. This warning
      will re-appear if you do not update your password.
    </p>
    <p class="small text-muted">
      Your password was not stored and was not sent to any third parties during this check. For technical details about
      this check (and how privacy is preserved), please see the
      <a href="https://haveibeenpwned.com/API/v3#PwnedPasswords">API documentation</a> for this feature.
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Acknowledge</button>
  </div>
<% end %>