<%= render 'layouts/components/remote_modal_raw', title: 'Compromised Password Detected', modal_id: "compromised_password_modal" do %>
  <div class="modal-header">
    <h5 class="modal-title">Compromised Password Detected</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <p>The password you are using for XIVAuth has been found in one or more data breaches recorded by
      <a href="https://haveibeenpwned.com/">haveibeenpwned.com</a>. As such, this password is no longer considered
      secure and should be changed immediately on all sites that use it.
    </p>
    <p>
      Since you are enrolled in multifactor authentication, your XIVAuth account remains secure. Please update your
      password by going to <%= link_to 'your user settings page', edit_user_path %> as soon as possible. This warning
      will re-appear if you do not update your password.
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Acknowledge</button>
  </div>
<% end %>