<div id="headpats_card" class="p-4 border rounded-3 marketing-card">
  <div class="display-5 fw-bold text-warning"><%= number_with_delimiter(count) %></div>
  <div class="fw-semibold">Miqo'te <%= "Headpat".pluralize(count) %></div>
</div>
