<% set_meta_tags title: "Certificate Issuance Policy",
                 description: "XIVAuth's Certificate Issuance Policy documents how, when, and why XIVAuth will " \
                   "issue certificates to clients upon request. It also covers other critical CA policy details." %>

<% content_for(:page_header) do %>
  <div>
    <h1>Certificate Issuance Policy</h1>
    <p>How, when, and why we issue certificates.</p>
  </div>
<% end %>

<p>I did this because it was a fun challenge. And PKI is cool.</p>
