<h1>XIVAuth Privacy Policy</h1>

<p>XIVAuth collects information that you provide to us to provide and improve our services.</p>

<p>Collected information includes:</p>
<ul>
  <li>Your email address</li>
  <li>Any linked accounts</li>
  <li>Any linked FINAL FANTASY XIV characters or services</li>
  <li>Security information such as passwords and MFA credentials</li>
  <li>Metadata such as IP addresses, ISP information, and browser information</li>
</ul>
<p>
  XIVAuth may use your information for internal analytics, reporting, and security purposes. For example, use of certain
  apps or features may be logged to prioritize performance improvements or identify abuse. User information is never
  shared for marketing purposes, including but not limited to advertising.
</p>

<p>
  XIVAuth does not participate in data aggregation or collection of information other than what was explicitly shared.
  It does not purchase or scrape information from other data sources except when necessary to provide its own services
  (e.g., Lodestone for character data). Likewise, XIVAuth will not sell or provide information to third parties without
  explicit user consent or for XIVAuth's business needs (i.e., an explicitly noted sub-provider, below).
</p>

<p>
  XIVAuth cannot see your activity on other websites or services, including those that use XIVAuth for authentication.
  XIVAuth does not, and will not, support receiving telemetry reports from these services. It does not monitor, track,
  or collect data from external services beyond the information you have explicitly shared with XIVAuth.
</p>

<p>
  If compelled by law enforcement or other legal processes, XIVAuth may be required to disclose user information. As of
  May 1, 2026, XIVAuth has not disclosed information to law enforcement.
</p>

<p>
  I am not a lawyer. Please do not sue me.
</p>

<h2>Data Subprocessor List</h2>

<p>The following subprocessors are used by XIVAuth in some capacity:</p>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Subprocessor</th>
    <th>Purpose</th>
    <th>Location</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><a href="https://railway.com/legal/privacy">Railway</a></td>
    <td>Web hosting and data storage</td>
    <td>United States</td>
  </tr>
  <tr>
    <td><a href="https://aws.amazon.com/privacy/">Amazon Web Services</a></td>
    <td>Web hosting and data storage</td>
    <td>United States</td>
  </tr>
  <tr>
    <td><a href="https://www.cloudflare.com/privacypolicy/">Cloudflare</a></td>
    <td>DDoS protection, CDN services, performance analytics</td>
    <td>United States</td>
  </tr>
  <tr>
    <td><a href="https://sentry.io/privacy/">Sentry</a></td>
    <td>Logging, error reporting, metric analytics</td>
    <td>United States</td>
  </tr>
  <tr>
    <td><a href="https://www.activecampaign.com/legal/privacy-policy">Postmark / ActiveCampaign</a></td>
    <td>Email delivery services</td>
    <td>United States</td>
  </tr>
  </tbody>
</table>
