<% set_meta_tags title: "What are certificates?",
                 description: "A primer on certificates, how they work, when to use them, and important information " \
                   "on what it means to use them in a project."
%>

<% content_for(:page_header) do %>
  <div>
    <h1>About XIVAuth Certificates</h1>
    <p>Certificates are an advanced feature. Most users will never need them.</p>
  </div>
<% end %>

<div class="alert alert-info">
  <details>
    <summary><strong>Document too long? Have a TL;DR!</strong></summary>
    <p class="pt-2">
      Certificates are XIVAuth's notary service. You can use it to prove that something actually came from you, or to
      make sure that only you can read some information sent to you. Since certificates can be verified offline, they
      can unlock powerful use cases for building trust.
    </p>
    <p>
      However, it's important to keep in mind that certificates are not a silver bullet. They're primarily intended for
      high-assurance or decentralized systems and require careful implementation and user awareness. Certificates are
      <strong>not</strong> a prerequisite for a system to be secure or trustworthy, and there are good reasons to not
      use them.
    </p>
    <p class="mb-0">
      If you're a developer looking to use certificates in your project, please start with
      <a href="https://rip-van-webble.blogspot.com/2021/03/certificates-confuse-everything.html">this blog post</a>
      before committing to your decision.
    </p>
  </details>
</div>

<h2>What is a certificate?</h2>

<p>
  Fundamentally, a certificate is a digital proof of an identity. Certificates have two major uses: <em>signing</em>
  data (proving it came from you) and <em>encrypting</em> data (scrambling it so only the intended recipient can read
  it). In the former case, a certificate is the functional equivalent of a wax seal on an official document certifying
  it came from a specific entity. In the latter, the certificate is the equivalent of a lockbox and key; anyone may
  place anything into a lockbox, but only the owner can open it.
</p>

<p>
  When you create a certificate, your computer generates two mathematically linked keys: a private key and a public
  key. The private key is kept secret and is known only to you (or your computer), while the public key can be shared
  freely with anyone. Only the holder of the private key may sign (or "apply the seal") or decrypt ("open the lockbox")
  data through the certificate.
</p>

<p>
  XIVAuth acts as the authority that ties your public key to a verified character. When XIVAuth issues a certificate,
  it is essentially saying <em>"we're vouching that this seal and lockbox belong to this character."</em> So long as
  you trust XIVAuth to assert identities, and so long as you trust that your private key has not been stolen, you have
  implicit trust in that certificate.
</p>

<p>
  Certificates, however, have another special property: they can be verified fully offline and independently. This means
  that any data signed by a certificate can be independently verified by anyone without involving XIVAuth at all. This
  allows for trust relationships to be created quickly and efficiently and allows users to sign data without needing
  to reach back to XIVAuth.
</p>

<h2 class="pt-3">Why would I use a certificate?</h2>

<p>
  Certificates have a few uses in the XIVAuth ecosystem. Developers may use them in creative and unique ways, but
  common use cases include:
</p>

<ul>
  <li class="my-3">
    <strong>Proving data came from your character.</strong><br>
    By signing some data with your certificate, other parties can (reasonably) trust that it came from you and not from
    a third party. This is particularly useful for proving ownership (or authenticity) of data: a digitally signed
    message in your name means that you are the one who wrote it.
  </li>
  <li class="my-3">
    <strong>Encrypting data for others.</strong><br>
    If you have a copy of a certificate for another player, you can encrypt data that only they can read. This allows
    the creation of secure channels for information without permitting eavesdropping by third parties. As an example,
    you can send a private message to another character and keep it truly private.
  </li>
  <li class="my-3">
    <strong>Authenticating to a service.</strong><br>
    Some services may choose to use a certificate for authentication purposes instead of a username and password.
    Since certificates tend to have reasonably long lives and private keys cannot be guessed, anyone holding a
    certificate can prove who they are.
  </li>
</ul>

<p>
  In most computer systems, certificates are also stored in a secure container. This means that your operating system
  has built-in protections to secure your private keys, making it harder to steal or tamper with them. Most critically,
  XIVAuth uses a system called a Certificate Signing Request, which means that private keys are never given to XIVAuth.
  Keys are generated locally, and your public key (and some metadata) is sent to XIVAuth's systems through our API.
</p>

<h2 class="pt-3">What's the downside?</h2>

<div class="alert alert-warning">
  Certificates are a very powerful and capable tool, but one that must be handled with care. The use of a certificate
  does not automatically imply that a system is secure, or that it's implemented properly. Likewise, the absence of
  certificate-based systems does not mean a system is insecure; there are many valid reasons for service owners to not
  want (or need) to implement certificates.
</div>

<p>
  While certificates are powerful, they do have practical limitations. Most critically, they rely on two key principles
  to remain true: the certificate issuer (in this case, XIVAuth) must be trustworthy, and the certificate holder (in
  this case, the user) must retain sole control of their private key. If either of these conditions are violated, the
  certificate should not be considered trustworthy.
</p>

<p>
  Certificates are also not the right tool for every situation, and a service that does not use them should not
  automatically be considered "less secure." Most services have a central point of trust already: the service itself.
  If you are willing to trust that the service will play fair, certificates add complexity without much practical
  benefit. The value shows up in decentralized platforms or systems where you can't reasonably rely on the service to
  handle things honestly. In those cases, certificates let you verify things end-to-end, independent of any service in
  between.
</p>

<p>
  Additionally, users still need to be cautious of applications that may request certificates. A misbehaving (or
  malicious) application may not generate or store private keys properly. If a private key is improperly escrowed in a
  service's database, that specific keypair may not be considered trustworthy. While mechanisms exist to revoke
  issued certificates and mark them as invalid, revocations are not automatic and require user intervention. If a user
  is not careful about which applications they allow to request certificates, they may inadvertently compromise or
  weaken their security.
</p>

<h2 class="pt-3">Information for Developers</h2>

<p>
  For developers, I would also highly recommend reading
  <a href="https://rip-van-webble.blogspot.com/2021/03/certificates-confuse-everything.html">this wonderful blog
    post</a> from an old-timer explaining some of the certificate nightmare from back in the day - and one that still
  exists today. Despite building out a full certificate chain myself, I still <strong>strongly</strong> recommend
  that developers avoid implementing certificate-based systems unless necessary. Generally, this comes down to most or
  all of these factors being present:
</p>

<ul>
  <li>You need a system that provides bindings of public keys to (public) identities.</li>
  <li>You're building a system that is unable or unwilling to vouch for identities.</li>
  <li>Your system needs the ability to verify identities <em>offline</em> without any server interactions.</li>
  <li>You need a system capable of providing or consuming publicly auditable artifacts.</li>
  <li>
    There is no better alternative for key distribution such as DNS or a GPG-like registry. (Or, a publicly queryable
    registry is undesirable).
  </li>
</ul>

<p>
  Implementing and supporting PKI/X.509 is a very complex task, and many things can very easily go wrong. Even my
  implementation (made by someone who generally knows what they're doing!) contains a couple known tradeoffs (read:
  flaws) that I considered acceptable for a project providing SSO for a video game. These aren't security-critical by
  any means, but they show the sheer complexity of running a certificate authority. Certificates and a full X.509
  implementation aren't <em>quite</em> a last resort, but they're certainly pretty close. Make sure you know what you're
  signing up for.
</p>

<p>
  If, despite all of this, you still feel that a certificate-based system is the right choice for your needs, please
  consider reaching out to me in the <%= link_to "XIVAuth Discord", discord_path %>. I'd be happy to chat about your
  use case and offer any advice or guidance I can to make sure you don't shoot yourself in the foot.
</p>
