.ts-control,
.full .ts-control,
.ts-wrapper.single.input-active .ts-control {
  background-color: var(--bs-body-bg);
  border: var(--bs-border-width) solid var(--bs-border-color);
  color: var(--bs-body-color);
}

.ts-control > input {
  color: var(--bs-body-color);
  min-width: 3rem;
}

// control color/backgrounds for multi-select
.ts-wrapper.multi .ts-control {
  & > div.item {
    background-color: var(--bs-secondary-bg);
    color: var(--bs-body-color);

    &.active {
      background-color: var(--bs-primary-bg-subtle);
      color: var(--bs-primary-text-emphasis);
    }
  }
}